<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <div class="col-sm-3">
    <%= form.label :nombres %>
    </div>
    <div class="col-sm-9">
    <%= form.text_field :nombres, id: :user_nombres %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-3">
    <%= form.label :apellidos %>
    </div>
    <div class="col-sm-9">
    <%= form.text_field :apellidos, id: :user_apellidos %>
     </div>
  </div>

  <div class="form-group">
    <div class="col-sm-3">
    <%= form.label :correo %>
    </div>
    <div class="col-sm-9">
    <%= form.text_field :correo, id: :user_correo %>
     </div>
  </div>

  <div class="form-group">
    <div class="col-sm-3">
    <%= form.label :tipo_documento %>
    </div>
    <div class="col-sm-9">
    <%= form.number_field :tipo_documento, id: :user_tipo_documento %>
     </div>
  </div>

  <div class="form-group">
    <div class="col-sm-3">
    <%= form.label :numero_documento %>
    </div>
    <div class="col-sm-9">
    <%= form.text_field :numero_documento, id: :user_numero_documento %>
     </div>
  </div>

  <div class="form-group">
    <div class="col-sm-3">
    <%= form.label :password %>
    </div>
    <div class="col-sm-9">
    <%= form.text_field :password, id: :user_password %>
     </div>
  </div>

  <div class="actions">
    <div class="col-sm-3">
    <%= form.submit %>
  </div>
<% end %>
