<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<form>
  <div class="form-row">
    <div class="form-group">
        <div>
     <%= form.label :correo %>
        </div>
        
        <div>
     <%= form.email_field :correo, id: :user_correo, :class=> "form-control" %>
        </div>
    </div>    

     <div class="form-group">
          <div>
        <%= form.label :password %>
          </div>
          <div>
        <%= form.text_field :password, id: :user_password, :class=> "form-control" %>
          </div>
    </div>

    
      <div class="form-group">
          <div>
      <%= form.label :Documento %>
          </div>
      <div class="form-inline">
          <div class="form-group">
      <%= form.select :tipo_documento,[["DNI",1],["RUC",2],["Pasaporte",3]],{:include_blank =>"Tipo"}, id: :user_tipo_documento,:class=> "form-control" %>
          </div>
    
          <div class="form-group">
       <%= form.text_field :numero_documento, id: :user_numero_documento, :placeholder => "Numero Documento", :class=> "form-control" %>
         </div>
      </div>
     </div>
   </div>




</form>
<div class="modal-footer">
<div class="btn-group btn-group-justified">
  <div class="btn-group">
    <div class="actions"><%= form.submit :Registrar, :class=> "btn btn-success" %></div>
</div>
</div>
</div>
<% end %>







