<%= form_with(model: parking, local: true) do |form| %>
  <% if parking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(parking.errors.count, "error") %> prohibited this parking from being saved:</h2>

      <ul>
      <% parking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_area :nombre, id: :parking_nombre %>
  </div>

  <div class="field">
    <%= form.label :direccion %>
    <%= form.text_field :direccion, id: :parking_direccion %>
  </div>

  <div class="field">
    <%= form.label :distrito %>
    <%= form.text_field :distrito, id: :parking_distrito %>
  </div>

  <div class="field">
    <%= form.label :precioxhora %>
    <%= form.text_field :precioxhora, id: :parking_precioxhora %>
  </div>

  <div class="field">
    <%= form.label :ubicacion %>
    <%= form.text_field :ubicacion, id: :parking_ubicacion %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
