<%= form_with(model: registro, local: true) do |form| %>
  <% if registro.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(registro.errors.count, "error") %> prohibited this registro from being saved:</h2>

      <ul>
      <% registro.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div class="col-sm-3">
    <%= form.label :correo %>
    </div>
    <div class="col-sm-9">
    <%= form.text_field :correo, {:class=> "form-control"} %>
    </div>
  </div>

  <div class="field">
    <div class="col-sm-3">
    <%= form.label :tipo_doc %>
    </div>
    <div class="col-sm-9">
    <%= form.number_field :tipo_doc, {:class=> "form-control"} %>
    </div>
  </div>

  <div class="field">
    <div class="col-sm-3">
    <%= form.label :documento %>
    </div>
    <div class="col-sm-9">
    <%= form.text_field :documento, {:class=> "form-control"} %>
    </div>
  </div>

  <div>
  <div class="actions">
      <%= form.submit %>
  </div>
  </div>
<% end %>
